body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
    width: 100%;
    background-color: rgba(252, 252, 252, 0.205);
    text-align: center;
}

.navbar {
    position: absolute;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Align to the right */
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: rgb(216, 216, 216);
}

#galleryMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
}

main li{
    display:inline-block
}
main img {
    display: block;
    width: 100%;
    /* height: 90vh; */
    object-fit: c;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center; 
}

#gallery li {
    flex: 1 1 calc(33.333% - 12px); /* 3 items per row */
    max-width: calc(33.333% - 12px);
    box-sizing: border-box;
}

#gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    object-fit: cover;
}

#loadMore {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loadMore:hover {
    background-color: #0056b3;
}

footer {
    display: block;
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding: 25px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

.socials {
    display: inline-block;
}